<div class="loginModal-backdrop">
  <div class="loginModal">
    <div class="loginModal-header">
      <button class="loginModal-headerButton selected" (click)="toggleModal('login')">
        <!-- TODO: toggle selevted button class -->
        Login
      </button>
      <button class="loginModal-headerButton" (click)="toggleModal('register')">
        Register
      </button>
      <button class="loginModal-headerButton" (click)="close()">close</button>
    </div>
    @if(modalShow === "login") {
    <form #loginForm="ngForm" class="loginModal-loginForm" (submit)="formSubmit(loginForm,'login')">
      <input id="email" type="email" placeholder="email *" required [(ngModel)] = "loginUser.username" [ngModelOptions]="{standalone: true}"/>
      <input id="password" type="password" placeholder="password *" [(ngModel)] = "loginUser.password" [ngModelOptions]="{standalone: true}" required />
      <div class="loginModal-formActions">
        <button type="submit" class="loginModal-formActionsButton">
          Login
        </button>
      </div>
    </form>
    } @else {
    <form #registerForm="ngForm" class="loginModal-RegisterForm" (submit)="formSubmit(registerForm,'register')">
      <input id="email" type="text" placeholder="username *" [(ngModel)] = "registerUser.username" [ngModelOptions]="{standalone: true}" required />
      <input id="username" type="email" placeholder="email *" [(ngModel)] = "registerUser.email" [ngModelOptions]="{standalone: true}" required />
      <input id="mobile" type="tel" placeholder="mobile number *" [(ngModel)] = "registerUser.mobile" [ngModelOptions]="{standalone: true}" required />
      <input id="password" type="password" placeholder="password *" [(ngModel)] = "registerUser.password" [ngModelOptions]="{standalone: true}" required />
      <input id="bio" type="textarea" placeholder="Tell us about yourself" [(ngModel)] = "registerUser.biography" [ngModelOptions]="{standalone: true}" required />
      <div class="loginModal-formActions">
        <button type="submit" class="loginModal-formActionsButton">Login</button>
      </div>
    </form>
    }
  </div>
</div>
