<div class="homepageLandingTeaser">
    <div class="homepageLandingTeaser-text">
        <div class="homepageLandingTeaser-text-Title">
            <h6>Become a master Chef</h6>
        </div>
        <div class="homepageLandingTeaser-text-Subtitle">
            <h2>Feel Free To Join Us</h2>
        </div>
        <div class="homepageLandingTeaser-text-Info">
            <p>Culinarians are required to have knowledge of food science, nutrition and diet and are responsible for
                preparing meals that are as pleasing to the eye as well as to the pallete. After restaurants, their
                primary places of work include delicatessens and relatively large institutions.</p>
            <p>There are many methods of cooking, most of which have been known since antiquity. These include baking,
                roasting, frying, grilling, barbecuing, smoking, boiling, steaming and braising.</p>
        </div>
    </div>
    <div class="homepageLandingTeaser-image">
        <img src="../../../../../assets/becca-tapert-UaBIcWSS4FY-unsplash.jpg" alt="">
    </div>
</div>