@if(!user.userIsLogged()){
<div class="header-loginBanner"><button class="btn-secondary" (click)="showLoginModal($event)">Log in/Sign up</button></div>
}
<div class="header">
  <div class="header-logo"><h2 class="header-logoTitle">Rosemary</h2></div>
  <div class="header-navBar">
    <button class="header-navBar-button btn-secondary">Explore</button>
    <button class="btn-secondary">Discussion</button>
    @if(user.userIsLogged()) {
    <button class="btn-secondary">Profile</button>
    }
    <button class="btn-secondary">search</button>
  </div>
</div>
@if(loginModal) {
  <login-modal (closeModal)="loginModal = $event" ></login-modal>
}
