@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Quicksand:wght@400;500&display=swap');


$primary: #A0522D; //buttons, headers, accents
$accent1: #D9CBA0; //backgrounds, cards, nav bars
$accent2: #F1A24A; // icons, callouts, links
$accent3: #5B3A29; //borders, footer, secondary buttons
$background: #F6E6C1; //background, cards, text areas
$text: #2e2e2e; //body text, headings

$body: 'Quicksand', sans-serif;
$headings: 'Cormorant Garamond', serif;

body {
  margin: 0;
}

.btn-secondary {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: $headings;
    font-size: 24px;
    line-height: 21px;
    &:hover {
        color: $accent1;
    }
    &:active {
        transform: translateY(5px);
        
    }
    transition: all .2s ease-in-out;
    
}
.btn-tertiary {
    color: $text;
          background-color: transparent;
          padding: 4px 32px;
          border: 1px solid $text;
          border-radius: 15px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          font-size: 12px;
          line-height: 16px;
          font-weight: 900;
          font-family: $body;
          height: 24px;
          &:hover {
            transform: scale(110%);
          }
          &:active {
            transform: translateY(-10px);
          }
}

.btn-tertiary.disabled {
  display: none;
}